/* Ajoutez vos styles personnalisés ici */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #28a745;
    color: #fff;
}

header h1, header p {
    margin-bottom: 20px;
}

section {
    margin: 40px 0;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #28a745;
    color: #fff
